<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/bcjis/logs/webapp/bcjis.log" />
        <param name="encoding" value="UTF-8" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyMMdd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" />
        </layout>
    </appender>

    <appender name="sqllog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="C:/bcjis/logs/webapp/bcjis_sql.log" />
        <param name="encoding" value="UTF-8" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyMMdd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss.SSS}] %-5p %C{1}.%M(%F:%L) - %m%n" />
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.cs.bcjis">
        <level value="info" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="info" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>

    <logger name="org.springframework.context">
        <level value="info" />
    </logger>

    <logger name="org.springframework.web">
        <level value="info" />
    </logger>

    <logger name="java.sql.Connection" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="console" />
    </logger>

    <logger name="java.sql.Statement" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="sqllog" />
    </logger>

    <logger name="java.sql.PreparedStatement" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="sqllog" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
